body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.calculator h1 {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 120px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  background-color: rgb(201, 200, 200);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #979797;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
